:root {
    --base-font-size: 16px;
    --base-root-size: 16px
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

.small-text{
    font-size: calc(var(--base-font-size) * 0.75);
}

.white-text{
    color: #FFFFFF;
}

.flex {
    display: flex;
}


h1 {
    color:#FF9710;
    font-size: calc(var(--base-font-size) * 3.0);
    font-weight: bolder;
}

h2{
    font-size: calc(var(--base-font-size) * 2.5);
    font-weight: 500;
}

h3{
    font-size: calc(var(--base-font-size) * 2.0);
    font-weight: 400;

}

h4{
    font-size: calc(var(--base-font-size)* 1.5);
    font-weight: 400;

}

p{
    font-size: calc(var(--base-font-size) * 1.25);
    font-weight: 300;
}

a:hover {
  color: red;
}

input:hover {color:green}

nav {
    background-color: #0E1C36;
    display: flex;
    align-content: space-around;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #F2F7F2;
    font-weight: 500;
}

nav a:hover {
    color:#FF9710
}

body {
   color: #0E1C36;
   margin: 20px; 
}

h1, h2, h3, h4, p, img {
    margin-bottom: 20px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
}

.circle-blue {
  background-color: #0AD3FF;
}

.circle-red {
  background-color: #DB2D2D;
}

.circle-yellow {
  background-color: yellow;
}
